/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 22.05.2019, 18:21:17
    Author     : thors
*/

html, body {
	margin:0;
	padding:0;
	min-height:100vh;
}

#mp {
    grid-area: mp;
	background-color:red;
}

img {
    width: 100%;
    //height: auto;
}

#ap img, #mp img {
}

#ap, #mp {
	width:28vw;
}

#sp {
    grid-area: sp;
	background-color:blue;

}

#ap {
    grid-area: ap;
	background-color:green;
}

#ml {
    grid-area: ml;
	background-color:yellow;
	ax-height:60vh;
}

#ml ol {

}

#mp, #sp, #ap, #ml {
  
}



#pc {
  	grid-area: p;
	background-color:cyan;
	overflow-x:scroll;
}

input, select {

}

legend {
    color: gray;
    text-align: left;
}

select {
    background-color: var(bg-select);
}

#filter{
    
}

.pci {
    width:11em;
}

#links {
   
}


#links a {
    overflow-wrap: break-word;
    display: block;
   
}


.grid-container {
    display: grid;
    grid-template-areas:
        'mp sp ap ml'
        'p  p  p  p';
    grid-gap: 5px;
  

}

.grid-container>div {
   
}

#otherMoviesList {
    max-height:60vh;
	overflow-y:scroll;
}

#pictures {
    display: flex;
    flex-wrap: nowrap;
    /* overflow: scroll; */
}

.img_pci {
  position:relative;
}

.pcu {
  margin-top:-35px;
  height:30px;
  line-height:30px;
  background-color:rgba(255, 255, 255, 0.7);
  font-size:16px;
  color:black;
  position:relative;
}

#pictures>div {
    margin-left: 10px;
    margin-top:0px;
    margin-bottom: 0px;
    text-align: center;
    line-height: 20px;
}



li { background: #ddd; }
li:nth-child(odd) { background: #eee; }
ol {
    list-style-type: none;
    padding:0;
}


@media screen and (max-height: 768px) {
  body {
    background-color: olive;
  }

  #otherMoviesList {
	max-height:40vh;
  }

  #ml {
	width:21vw;
  }

  #sp fieldset {
	background-color:purple;
	width:1vw;
  }

  #sp fieldset #links {
	background-color:red;
}

}
