/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22.05.2019, 18:21:17
    Author     : thors
*/
:root { 
    main-bg-color: res;
    bg-select: light-gray;
}

html {
    margin: 0;
    padding: 0;
    background-color: var( main-bg-color);
}

body {
    max-width: 1000px;
    min-width: 600px;
    margin: 0 auto;
}

#mp {
    grid-area: mp;
}

#ap img, #mp img {
    height: 340px;
}   

#sp {
    grid-area: sp;
    padding-bottom: 2px;
}

#sp #fsMovie, #sp #fsActor, #sp #fsRolle {
    padding-bottom: 7px;
    margin-bottom: 3px;
}

#ap {
    grid-area: ap;
}

#actorposter img, #poster img{
    /*height: 255px;*/
}

#ml {
    grid-area: ml;
}

#ml ol {
    height:319px;
}

#mp, #sp, #ap, #ml {
    padding-top: 0;
    background-color: var(main-bg-color);
    margin-bottom:0;
    /*max-height:300px;  // Höhen einstellen*/
    height:370px;
}

#pc {
    grid-area: p;
    padding: 0;
    /*height:205px;  // Höhen einstellen*/
    background-color: var(main-bg-color);
}

#mp fieldset, #sp fieldset, #ap fieldset, #ml fieldset, #pc fieldset {
    padding-bottom: 0px;   
    height: 98%;
}

input, select {
    width: 100%;
}

legend {
    color: gray;
    text-align: left;
}

select {
    background-color: var(bg-select);
}

#filter{
    margin-bottom:10px;
}

.pci {
    max-height:250px;
}

#links {
    height: 155px;
    max-height: 155px;
    max-width: 115px;
    overflow: hidden;
    text-align: left;
}


#links a {
    overflow-wrap: break-word;
    display: block;
    padding-top:3px;
    padding-bottom:4px;
}

#legalDDG {
    grid-area: dd;
};

#legalTMDB {
    grid-area: md;
};

#legalTMDB, #legalDDG {
    height: 30px;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        'mp mp mp mp mp sp ap ap ap ap ap ap ml ml ml ml' 
        'p  p  p  p  p  p  p  p  p  p  p  p  p  p  p  p' 
        'dd dd dd dd dd dd dd dd md md md md md md md md';
    grid-gap: 5px;
    background-color: var(main-bg-color);
    padding: 5px;
}

.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 14px;
}

#otherMoviesList {
    overflow-y:scroll;
    text-align: left;
    margin:0;
}

#pictures {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    overflow-y: auto;
    max-width: 950px;
    height:235px;
}

.img_pci {
    height:185px;    
}

#pictures>div {
    margin-left: 10px;
    margin-top:0px;
    margin-bottom: 0px;
    text-align: center;
    line-height: 20px;
}



li { background: #ddd; }
li:nth-child(odd) { background: #eee; }
ol {
    list-style-type: none;
    padding:0;
}
