

html {
	height:100vh;
	margin: 0 auto;
	background-color:lightgray;
}

body {
	height:100 vh;
}

#mp {
    grid-area: mp;
	background-color:lightgray;
}

img {
    width: 100%;
}

#ap img, #mp img {
}

#ap, #mp {
	width: 28vw;
}

#sp {
    grid-area: sp;
	background-color:lightgray;

}

#ap {
    grid-area: ap;
	background-color:lightgray;
}

#ml {
    grid-area: ml;
}

#ml ol {

}

#mp, #sp, #ap, #ml {
  
}



#pc {
  	grid-area: p;
	background-color: lightgray;
}

input, select {

}

legend {
    color: gray;
    text-align: left;
}

select {
    background-color: var(bg-select);
}

#filter{
    
}

.pci {
    width:9em;
}

#links {
   
}


#links a {
    overflow-wrap: break-word;
    display: block;
   
}


.grid-container {
    display: grid;
    grid-template-areas:
        'mp sp ap ml'
        'p  p  p  p';
    grid-gap: 5px;
  
	//padding-top:20px;

}

.grid-container>div {
   
}

#otherMoviesList {
    max-height:60vh;
	overflow-y:scroll;
}

#pictures {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
	overflow-y:hidden;
	width:100vw;
}

.img_pci {
  position:relative;
}

.pcu {
  margin-top:-35px;
  height:30px;
  line-height:30px;
  background-color:rgba(255, 255, 255, 0.7);
  font-size:16px;
  color:black;
  position:relative;
}

#pictures>div {
    margin-left: 10px;
    margin-top:0px;
    margin-bottom: 0px;
    text-align: center;
    line-height: 20px;
}



li { background: #ddd; }
li:nth-child(odd) { background: #eee; }
ol {
    list-style-type: none;
    padding:0;
}

.pcouter {
	border: 1px dotted darkgray;
}


@media screen and (max-height: 768px) {
  body {
    background-color: lightgray;
  }

  #otherMoviesList {
	max-height:43vh;
	width:21vw;
  }

  #links {
	display:none;
	max-width:17vw;
  }

  

 #sp input {
	width: 10vw;
 }

 #ml fieldset, #ap fieldset, #mp fieldset {
	height:94%;
 }
  
 #pc fieldset {
	//height: 80%;
 }

 #pictures {
	width: 95vw;	 
 }

 input {
	font-size:1.0em;
  } 

  .pco {
    background-color:rgba(185, 185, 185, 0.7);
  }

  #fieldsetLinks {
		display:none;
	}

}

@media screen and (max-width: 800px) {
	body {
		
	}
	
	.grid-container {
		display:block;
	}
	
	#pictures {
		display:inline;
	}
	
	.img_pci {
		width:82vw;
	}
	
	.pco {
		margin-top:13px;
		position:relative;
		margin-bottom: -20px;
		display:block;
		z-index:1;
		background-color:rgba(255, 255, 255, 0.7);
		
	}
	
	#fieldsetLinks {
		display:none;
	}
	
	#sp input {
	  width: 75vw;
    }

  #otherMoviesList {
	width:85vw;
  }

  #ap, #mp {
	width: 97vw;
  }

  #ap {
	display:none;
  }

  input {
	font-size:1.2em;
  } 

.pcouter {
	border: none;
}

}
